<%- layout("layouts/boilerplate.ejs") %>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<div class="filter_tax">
  <div class="scroll-container">
    <button class="scroll-btn left">
      <i class="fas fa-chevron-left"></i>
    </button>

    <div class="scroll-items">
      <a href="/listings?category=mountains" class="item">
        <i class="fa-solid fa-mountain"></i>
        <p>Mountains</p>
      </a>
      <a href="/listings?category=pools" class="item">
        <i class="fa-solid fa-person-swimming"></i>
        <p>Pools</p>
      </a>
      <a href="/listings?category=camping" class="item">
        <i class="fa-solid fa-campground"></i>
        <p>Camping</p>
      </a>
      <a href="/listings?category=tinyhomes" class="item">
        <i class="fa-solid fa-house"></i>
        <p>Tiny Homes</p>
      </a>
      <a href="/listings?category=tower" class="item">
        <i class="fa-solid fa-tower-observation"></i>
        <p>Towers</p>
      </a>
      <a href="/listings?category=castles" class="item">
        <i class="fa-solid fa-chess-rook"></i>
        <p>Castles</p>
      </a>
      <a href="/listings?category=boats" class="item">
        <i class="fa-solid fa-ship"></i>
        <p>Boats</p>
      </a>
      <a href="/listings?category=desert" class="item">
        <i class="fa-solid fa-sun"></i>
        <p>Desert</p>
      </a>
      <a href="/listings?category=skiing" class="item">
        <i class="fa-solid fa-snowflake"></i>
        <p>Skiing</p>
      </a>
      <a href="/listings?category=beach" class="item">
        <i class="fa-solid fa-umbrella-beach"></i>
        <p>Beach</p>
      </a>
      <a href="/listings?category=vineyards" class="item">
        <i class="fa-solid fa-wine-bottle"></i>
        <p>Vineyards</p>
      </a>
      <a href="/listings?category=farms" class="item">
        <i class="fa-solid fa-tractor"></i>
        <p>Farms</p>
      </a>
      <a href="/listings?category=luxe" class="item">
        <i class="fa-solid fa-gem"></i>
        <p>Luxury</p>
      </a>
      <a href="/listings?category=forest" class="item">
        <i class="fa-solid fa-tree"></i>
        <p>Forest</p>
      </a>
      <a href="/listings?category=lakefront" class="item">
        <i class="fa-solid fa-water"></i>
        <p>Lakefront</p>
      </a>
      <a href="/listings?category=city" class="item">
        <i class="fa-solid fa-city"></i>
        <p>City</p>
      </a>
      <a href="/listings?category=treehouses" class="item">
        <i class="fa-solid fa-tree"></i>
        <p>Treehouses</p>
      </a>
      <a href="/listings?category=domes" class="item">
        <i class="fa-solid fa-circle"></i>
        <p>Domes</p>
      </a>
      <a href="/listings?category=cabins" class="item">
        <i class="fa-solid fa-house-chimney"></i>
        <p>Cabins</p>
      </a>
      <a href="/listings?category=historical" class="item">
        <i class="fa-solid fa-landmark"></i>
        <p>Historical</p>
      </a>
      <a href="/listings?category=windmills" class="item">
        <i class="fa-solid fa-wind"></i>
        <p>Windmills</p>
      </a>
    </div>

    <button class="scroll-btn right">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>

  <div class="toggle-tax">
  <div class="form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      id="flexSwitchCheckDefault"
    />
    <label class="form-check-label" for="flexSwitchCheckDefault">
      Add tax for Pricing
    </label>
  </div>
</div>

<div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-1">
  <% for (list of listings) { %>
  <a href="/listings/<%= list._id %>" class="card-links d-block">
    <div class="card listing-card" data-aos="fade-up">
      <img
        src="<%= list.image.url %>"
        class="card-img-top"
        alt="listing image"
      />
      <div class="card-img-overlay overlay-hover">
        <h5 class="text-white">View Details</h5>
      </div>
      <div class="card-body">
        <p class="card-text">
          <%= list.title %> <br />
          &#x20b9; <%= list.price != null ? list.price.toLocaleString("en-IN") : "N/A" %> /night
          <i class="tax-amt">&nbsp +18% GST</i>
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>

<script src="/js/scroll.js"></script>
<script src="/js/tax.js"></script>
